@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #8C81D0;
    --text-color: #363030;
    --info-text-color: #8B8B8B;
    --heading-color: #FFF;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}
