@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #0c2461;
    --text-color: #eaeaea;
    --subtitle-color: #a9b0b5;
    --heading-color: #f7f7f7;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}